<head>
    <meta charset="UTF-8">
    <title>Keep Moving</title>

    <!-- Styling -->
    <link rel="stylesheet" href="//code.cdn.mozilla.net/fonts/fira.css">

    <!-- JavaScript -->
    <script src="https://apis.google.com/js/client.js?onload=checkAuth"></script>
</head>
<body></body>

<template name="sidebar">
    <div class="sidebar">
        <div class="upcoming"></div>
        <div class="upcoming"></div>
        <div class="upcoming"></div>
        <div class="upcoming"></div>
    </div>
</template>

<template name="index">
    {{> sidebar}}

    <div class="top">
        <div class="left">
            <h1 id="name"></h1>
            <small>How about lunch with Casey today?</small>
        </div>
        <div class="right">
            <h1 id="time"></h1>
            <small id="date"></small>
        </div>
    </div>

    <div id="metro">
        {{#each boxes}}
            {{> box}}
        {{/each}}
    </div>
</template>

<template name="box">
    {{ html }}
</template>