<head>
    <meta charset="UTF-8">
    <title>KM &middot Sign In</title>

    <!-- JavaScript -->
    <script src="https://apis.google.com/js/client.js?onload=checkAuth"></script>
</head>
<body>
<img class="logo" src="../../../public/images/logo.png">

<div id="authorize-div" style="display: none">
    <p>Sign in to access your calendar</p>

    <!--Button for the user to click to initiate auth sequence -->
    <div id="signin" onclick="handleAuthClick(event)">
        <span class="icon"></span>
        <span class="buttonText">Google</span>
    </div>
</div>
<pre id="output"></pre>
</body>