.sidebar {
  background-color: #DDDDDD;
  color: white;
  float: left;
  height: 100vh;
  width: 20%;

  @for $i from 1 through length($colors) {
    .upcoming:nth-of-type(#{$i}) {
      background: nth($colors, $i);
    }
  }

  .small-paragraph {
    position: absolute;
    bottom: 0;
  }

  .upcoming {
    height: 25%;
    padding: 10px;
    position: relative;

    p {
      font-size: 30px;
      margin: 0;
      padding: 0;
      text-transform: uppercase;

      // Reference directly adjacent "p" element using ampersand
      & + p {
        @extend .small-paragraph;
      }
    }

    i {
      display: inline-block;
      font-size: 48px;

      // Reference directly adjacent "p" element using ampersand
      & + p {
        @extend .small-paragraph;
      }
    }
  }
}