.sidebar {
  background-color: #DDDDDD;
  color: white;
  float: left;
  overflow: hidden;
  width: 20%;

  @for $i from 1 through length($colors) {
    .upcoming:nth-of-type(#{$i}) {
      background: nth($colors, $i);
    }
  }

  .upcoming {
    height: 25vh;
    padding: 10px;
    position: relative;

    p {
      display: inline-block;
      font-size: 30px;
      margin: 0;
      padding: 0;
      text-transform: uppercase;
    }

    i {
      display: inline-block;
      font-size: 26px;
      padding-left: 10px;
    }

    div p {
      position: absolute;
      bottom: 0;
    }
  }
}