.sidebar {
  background-color: #DDDDDD;
  color: white;
  float: left;
  overflow: hidden;
  width: 20%;

  @for $i from 1 through length($colors) {
    .upcoming:nth-of-type(#{$i}) {
      background: nth($colors, $i);
    }
  }

  .upcoming {
    height: 25vh;

    .text-wrapper {
      padding: 15px;
    }
  }
}