$font-stack: Fira, Lato, sans-serif;
$colors: (#01E164, #0079CA, #00B7A5, #FF6A00, #E7016D, #FFDB00);

@import 'sidebar';
@import 'switch';

body {
  font-family: $font-stack;
  font-weight: 100;
  height: 100%;
  margin: 0;
}

textarea {
  border: none;
  display: block;
  font-family: $font-stack;
  outline: none;
  overflow: hidden;
  resize: none;
}

.event {
  float: right;
  margin-top: 20px;
  position: relative;
  width: 75%;

  .button {
    color: #333333;
    cursor: pointer;
    float: right;
    font-size: 26px;
    padding-right: 20px;
  }

  #title {
    border-bottom: 1px solid #333333;
    font-size: 36px;
    font-weight: 100;
    height: 50px;
  }

  #dates {
    display: inline-block;
  }

  .timing-selector,
  .separator {
    display: inline-block;
    padding: 10px;
  }

  .switch {
    display: inline-block;
    padding-left: 20px;
    vertical-align: middle;
  }

  #description {
    border: 1px solid #333333;
    padding: 10px;
  }

  #location textarea {
    border: 1px solid #333333;
    padding: 10px;
  }

  #save {
    cursor: pointer;
    float: right;
    font-size: 36px;
    font-weight: 300;

    &:hover {
      color: #2ECC40;
    }
  }

  .columns {
    .column {
      display: inline-block;
      width: 45%;
    }

    .column:nth-child(1) {
      float: left;
    }

    .column:nth-child(2) {
      float: right;
    }
  }
}

.submit {
  -webkit-appearance: none;

  background-color: white;
  border: none;
  bottom: 10px;
  color: #01E164;
  font-family: Fira, sans-serif;
  font-size: 20px;
  padding: 10px;
  position: absolute;
  right: 25px;
}