$font-stack: Fira, Lato, sans-serif;
$colors: (#01E164, #0079CA, #00B7A5, #FF6A00, #E7016D, #FFDB00);

@import 'sidebar';

body {
  font-family: $font-stack;
  font-weight: 100;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

h1 {
  font-weight: 300;
}

.event {
  float: right;
  margin-top: 20px;
  width: 75%;

  h1 {
    font-size: 48px;
  }

  #time-from {
    background-color: #ED1C24;
    border-radius: 10px;
    width: inherit;
  }
}